body {
  margin: 0;
  padding: 0;
  background-color: black;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#videoPlayer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;  /* This ensures the video stays behind other content */
}

.content {
  position: relative;
  z-index: 1;  /* This ensures content stays above the video */
  color: white; /* Makes text visible against dark video */
  text-align: center;
}

.welcome-page {
  margin-top: 100px;
}

.welcome-page {
  margin-top: 100px;
}

.welcome-page-text {
  margin-top: 150px;
}

.start-page {
  margin-top: 0px;
}

.result-page {
  font-size: 48px;
  font-family: monospace;
}

#startButton {
  position: fixed;
  bottom: 35%;
  left: 70%;
  font-size: 24px;
  padding: 15px 30px;
}

#nextButton {
  position: fixed;
  bottom: 23%;
  left: 70%;
  font-size: 24px;
  padding: 15px 30px;
}

#skipButton {
  position: fixed;
  top: 20px;
  right: 20px;
}

#muteButton {
  position: fixed;
  top: 20px;
  right: 20px;
  height: 40px;
  padding: 8px 10px;
}

#backButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

#restartButton {
  height: 40px;
  padding: 8px 10px;
  margin-right: 10px;
}

#replayButton {
  height: 40px;
  padding: 8px 10px;
}

.layout-buttons {
  position: fixed;
  top: 20px;
  left: 20px;
}

.start-page-buttons {
  display: flex;
  justify-content: center;
  gap: 160px;
  font-size: 36px;
}

button {
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  color: white;
  z-index: 1000;
}

h1 {
  font-size: 60px;
  margin: 0;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.petal-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.petal-page p {
  font-size: 36px;
  text-align: left;
}